body {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  color: #303030;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  outline: 1px solid purple;
}

.section {
  padding: 120px 0;
}

.contacts__button, .services__btn, .header__contacts-btn {
  max-width: 250px;
  min-width: 160px;
  min-height: 40px;
  margin: 0;
  padding: 12px 20px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  color: #ffffff;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid #ff6c00;
  border-radius: 25px;
  cursor: pointer;
}
.contacts__button:hover, .services__btn:hover, .header__contacts-btn:hover, .contacts__button:focus, .services__btn:focus, .header__contacts-btn:focus {
  background-color: #ff6c00;
}

.about__btn {
  max-width: 250px;
  min-width: 160px;
  min-height: 40px;
  margin: 0;
  padding: 12px 20px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  color: #303030;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid #ff6c00;
  border-radius: 25px;
  cursor: pointer;
}
.about__btn:hover, .about__btn:focus {
  background-color: #ff6c00;
  color: #ffffff;
}

.footer__list, .address__list, .gallery__list, .social, .barbers__list, .stats__list, .services__price-list, .about__list, .slider__list, .hero__social-list, .header__nav-list {
  padding: 0;
  list-style: none;
}

.footer__social-link, .hero__social-link, .header__contacts-tel, .header__nav-link {
  text-decoration: none;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  color: #ffffff;
}
.footer__social-link:hover, .hero__social-link:hover, .header__contacts-tel:hover, .header__nav-link:hover, .footer__social-link:focus, .hero__social-link:focus, .header__contacts-tel:focus, .header__nav-link:focus {
  color: #ff6c00;
}

.schedule__title, .gallery__title, .barbers__title, .stats__title, .services__title, .about__textbox-title, .hero__title {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  color: #303030;
}

.services__title, .hero__title {
  color: rgba(157, 164, 189, 0.6);
}

.address__heading, .contacts__booking-heading, .barbers__heading, .stats__heading, .services__heading, .about__textbox-heading, .hero__heading {
  margin-bottom: 44px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}

.address__heading, .contacts__booking-heading, .services__heading, .hero__heading {
  color: #ffffff;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.header {
  background-color: #191C26;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__logo-img {
  width: 69px;
  height: 56px;
  margin-right: 130px;
}

.header__wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__nav-item:not(:last-child) {
  margin-right: 30px;
}

.header__nav-link {
  display: block;
  padding: 52px 0;
}

.header__contacts {
  margin-left: auto;
}

.header__contacts-tel {
  margin-right: 40px;
}

.hero {
  background-color: #191C26;
}
.hero__heading {
  margin-bottom: 20px;
  font-size: 72px;
  line-height: 1.18;
}
.hero__descr {
  color: #9da4bd;
}

.hero__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}

.hero__social-link {
  color: #303030;
  line-height: 1.36;
  font-size: 11px;
}

.slider__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
}

.slider__btn {
  min-width: 60px;
  min-height: 24px;
  margin: 0;
  padding: 0;
  padding-bottom: 8px;
  background-color: transparent;
  border: none;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-align: left;
  color: rgba(157, 164, 189, 0.6);
  cursor: pointer;
}
.slider__btn:hover, .slider__btn:focus {
  color: #ffffff;
}

.about__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.about__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.about__list-item {
  width: 270px;
}

.about__textbox {
  width: 470px;
}
.about__textbox-heading {
  margin-bottom: 20px;
}
.about__textbox-descr {
  color: #555555;
  margin-bottom: 20px;
}
.about__textbox-paragraph {
  font-size: 14px;
  line-height: 1.86;
  color: #555555;
  margin-bottom: 42px;
}

.about__btn {
  color: #303030;
}

.services {
  background-color: #191C26;
}
.services__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  width: 100%;
}

.services__price-list {
  -ms-flex-preferred-size: 570px;
      flex-basis: 570px;
  padding: 30px 20px;
}
.services__price-list--first {
  background: -webkit-gradient(linear, left top, left bottom, from(#171A24), to(rgba(23, 26, 36, 0.2)));
  background: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.2) 100%);
}
.services__price-list--second {
  background: -webkit-gradient(linear, left top, left bottom, from(#090B13), to(rgba(9, 11, 19, 0.2)));
  background: linear-gradient(180deg, #090B13 0%, rgba(9, 11, 19, 0.2) 100%);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.services__price-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  color: #9da4bd;
}
.services__price-item:not(:last-child) {
  margin-bottom: 20px;
}

.services__price-line {
  height: 1px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 0 12px;
  background-color: rgba(157, 164, 189, 0.12);
}

.services__btn {
  display: block;
  margin: 0 auto;
  margin-top: 44px;
}

.stats__heading {
  margin-bottom: 20px;
}
.stats__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 130px;
}
.stats__item {
  width: 170px;
  padding: 20px 24px;
  text-align: center;
  background-color: #F7F7F7;
}

.stats__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  margin-left: 100px;
}

.stats__list-wrapper {
  height: 321px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}
.stats__list-wrapper--last {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.stats__number {
  display: block;
  margin-bottom: 6px;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.05em;
}

.stats__plus {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.38;
  vertical-align: super;
  color: #ff6c00;
}

.stats__textbox {
  -ms-flex-preferred-size: 500px;
      flex-basis: 500px;
}

.stats__number-descr {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
}

.stats__descr {
  color: #555555;
}

.barbers {
  background-color: #F7F7F7;
}
.barbers__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.barbers__textbox {
  padding: 30px;
  padding-bottom: 0;
}

.barbers__name {
  margin-bottom: 8px;
  font-weight: 400;
  line-height: 1.39;
  text-align: center;
}

.barbers__position {
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.36;
  text-align: center;
  color: #ff6c00;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gallery__title {
  margin-bottom: 44px;
}

.gallery__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.contacts {
  padding-top: 130px;
  background-color: #191C26;
}
.contacts__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.contacts__booking {
  padding-right: 30px;
}

.contacts__input-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  margin-bottom: 44px;
}

.contacts__input {
  display: block;
  width: 270px;
  padding-bottom: 8px;
  background-color: transparent;
  color: #ffffff;
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  cursor: pointer;
}
.contacts__input:focus {
  outline: none;
  border-bottom: 1px solid #ffffff;
}
.contacts__input::-webkit-input-placeholder {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.4);
}
.contacts__input::-moz-placeholder {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.4);
}
.contacts__input:-ms-input-placeholder {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.4);
}
.contacts__input::-ms-input-placeholder {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.4);
}
.contacts__input::placeholder {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.4);
}
.contacts__input:focus::-webkit-input-placeholder {
  color: #ffffff;
}
.contacts__input:focus::-moz-placeholder {
  color: #ffffff;
}
.contacts__input:focus:-ms-input-placeholder {
  color: #ffffff;
}
.contacts__input:focus::-ms-input-placeholder {
  color: #ffffff;
}
.contacts__input:focus::placeholder {
  color: #ffffff;
}

.contacts__textarea {
  width: 100%;
  height: 76px;
  margin-bottom: 44px;
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  background-color: transparent;
  color: #ffffff;
  cursor: pointer;
  resize: none;
}
.contacts__textarea::-webkit-input-placeholder {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.4);
}
.contacts__textarea::-moz-placeholder {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.4);
}
.contacts__textarea:-ms-input-placeholder {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.4);
}
.contacts__textarea::-ms-input-placeholder {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.4);
}
.contacts__textarea::placeholder {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.4);
}
.contacts__textarea:focus {
  outline: none;
  border-bottom: 1px solid #ffffff;
}
.contacts__textarea:focus::-webkit-input-placeholder {
  color: #ffffff;
}
.contacts__textarea:focus::-moz-placeholder {
  color: #ffffff;
}
.contacts__textarea:focus:-ms-input-placeholder {
  color: #ffffff;
}
.contacts__textarea:focus::-ms-input-placeholder {
  color: #ffffff;
}
.contacts__textarea:focus::placeholder {
  color: #ffffff;
}

.contacts__button {
  display: block;
}

.address__heading {
  margin-bottom: 40px;
}

.address__list {
  margin-bottom: 70px;
}
.address__list--map {
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  color: #9da4bd;
}
.address__list--tel {
  font-style: normal;
  text-decoration: none;
  color: #9da4bd;
}
.address__list--mail {
  font-style: normal;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #9da4bd;
}

.address__list-item:not(:last-child) {
  margin-bottom: 20px;
}

.schedule__title {
  margin-bottom: 20px;
  color: #ffffff;
}

.schedule__time {
  color: #9DA4BD;
}

.footer__wrapper {
  padding: 56px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer__copyright {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  color: #9da4bd;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}

.footer__social-link {
  color: #303030;
}/*# sourceMappingURL=main.css.map */