


/* header */
.header {
  background-color: aqua;
}
.logo {
  margin-right: 130px;
}
.head.container {
  display: flex;
}
.nav-box {
  width: 100%;
  display: flex;
  align-items: center;
}
.sidebar {
  width: 155px;
  outline: 1px solid red;
}
.nav {
  display: flex;
  justify-content: space-between;
}
.nav-item:not(:last-child) {
  margin-right: 30px;
}
.nav-link,
.tel,
.btn {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--white-text-color);
  text-decoration: none;
}
.nav-link {
  display: block;
  padding: 20px 0;
}
.contact-part {
  margin-left: auto;
}
.tel {
  margin-right: 40px;
  text-transform: uppercase;
}
.btn.hero {
  margin-right: 10px;
}

/* hero section */
.hero {
  background-color: palegreen;
}
.hero-heading {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  color: var(--heading-color);
}
.hero-title {
  font-family: var(--secondary-font);
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: var(--white-text-color);
}
.hero p {
  font-size: 18px;
  line-height: 1.67;
  color: var(--secondary-color);
}
.social-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-decoration: none;
  color: var(--primary-color);
}
/* main part */
.section-heading {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  color: var(--primary-color);
}
.section-title {
  font-family: var(--secondary-font);
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}
.section-title:nth-child(2),
.section-title:nth-child(-n + 2) {
  color: var(--white-text-color);
}

/* about */
.descr {
  font-size: 18px;
  line-height: 1.67;
  color: var(--paragraph-volor);
}
.paragraph {
  line-height: 1.86;
  color: var(--paragraph-volor);
}
.about-btn {
  color: var(--primary-color);
}

.about-btn:hover,
.about-btn:focus {
  color: var(--white-text-color);
}

/* contacts */
.contacts {
  background-color: paleturquoise;
}

/* services */
.services p {
  font-size: 18px;
  line-height: 1.67;
  color: var(--secondary-color);
}
.service-heading.transparent {
  color: var(--heading-color);
}

/* statistics */
.statistics-item {
  background-color: var(--secondary-bg-color);
}
sup {
  color: var(--accent-color);
}
.number {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.05em;
}
.number-descr {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
}

/* barbers */
.barbers h4 {
  font-size: 18px;
  line-height: 1.39;
}
.extreme {
  font-size: 14px;
  line-height: 1.36;
  color: var(--accent-color);
}

/* gallery */
.gallery .section-heading {
  margin-bottom: 44px;
}
.gallery.list {
  display: flex;
}
.gallery-item:not(:last-child) {
  margin-right: 30px;
}
/* contacts */
.address {
  font-style: normal;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.67;
  color: var(--secondary-color);
}
.address.tel {
  font-weight: 400;
}
.address.mail {
  font-weight: 400;
  text-decoration-line: underline;
}
.working-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  color: var(--white-text-color);
}
.working-time {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  color: var(--secondary-color);
}

/* footer */
.copy {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  color: var(--secondary-color);
}

