.hero {
  padding: 0;

  &__left-side {
@media screen and (max-width:767px) {
        display: none;
      }
@media screen and (min-width:$desktop) {    
    }
  }

&__container {
  position: relative;
  display: flex;
  gap: 30px;

@media screen and (max-width:767px) {
  padding: 0;
  }
@media screen and (min-width:$desktop) {
  gap: 0;
}
  }


&__wrapper {
  position: absolute;
  bottom: calc(50% - 100px);
  left: 31px;
  z-index: 1;
  
@media screen and (min-width:$tablet) {
  bottom: 237px;
  left: 240px;
  }

@media screen and (min-width:$desktop) {
  bottom: 200px;
  left: 200px;
  }
}
  
&__title {
  @extend %title;
  @extend %title-light;

@media screen and (min-width:$tablet) {
    animation: scroll-to-bottom 400ms ease-in 200ms both;
    }
  }

&__heading {
  @extend %heading;
  @extend %heading-light;
  margin-bottom: 20px;
  font-size: 48px;
  line-height: 1.17;

  @media screen and (min-width:$tablet) {
    animation: scroll-to-right 600ms ease-in 400ms both;
    }
@media screen and (min-width:$desktop) {
  font-size: 72px;
  line-height: 1.18;
  }
}

&__descr {
  font-size: 16px;
  line-height: 1.62;
  color: $secondary-color;

@media screen and (min-width: $tablet) {
  font-size: 18px;
  line-height: 1.67;
  animation: scroll-to-top 400ms ease-in 400ms both;
  }
}
}

.hero__right-side {
@media screen and (min-width:$desktop) {
  flex-grow: 1;
  }
}

.hero__left-side {
@media  screen and (min-width:$tablet) {
  width: 90px;
  display: flex;
  align-items: flex-end;
  }
@media screen and (min-width:$desktop) {
  width: 100px;
  }
}