.stats {

&__title {
  @extend %title;
  }
  
&__heading {
  @extend %heading;
  letter-spacing: 0.04em;
    margin-bottom: 20px;
  }

  &__wrapper {
  display: flex;
  flex-direction: column-reverse;

@media screen and (min-width:$desktop) {
    flex-direction: row;
    gap: 130px;
  }
  }

  &__item {
  width: 194px;
  padding: 20px 35px;
  text-align: center;
  background-color: $secondary-bg-color;

@media screen and (min-width: $tablet) {
      width: 210px;
      padding: 20px 40px;
    }

@media screen and (min-width: $desktop) {
    width: 170px;
    padding: 20px 24px;
        }
}
}

.stats__list {
  @extend %list;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;

  &--last {
      top: 30px;
    }
}
.stats__list-wrapper {
  height: 321px;
  display: flex;
  gap: 30px;

@media screen and (min-width:$tablet) {
    justify-content: flex-end;
  }

@media screen and (min-width:$desktop) {
    padding-left: 100px;
    }
}

.stats__number {
  display: block;
  margin-bottom: 6px;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.05em;
}
.stats__plus {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.38;
  vertical-align: super;
  color: $accent-color;
}

.stats__textbox {
  margin-bottom: 44px;

@media screen and (min-width:$tablet) {
  width: 75%;
  }

@media screen and (min-width:$desktop) {
  flex-basis: 500px;
}
}

.stats__number-descr {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
}
.stats__descr {
  color: $paragraph-color;
}
