.stats {

&__title {
  @extend %title;
  }
  
&__heading {
  @extend %heading;
    margin-bottom: 20px;
  }

  &__wrapper {
    display: flex;
    gap: 130px;
  }

  &__item {
  width: 170px;
  padding: 20px 24px;
  text-align: center;
  background-color: $secondary-bg-color;
}
}

.stats__list {
  @extend %list;
  display: flex;
  gap: 30px;
  margin-left: 100px;
}
.stats__list-wrapper {
  height: 321px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  
&--last {
    justify-content: flex-end;
  }
}

.stats__number {
  display: block;
  margin-bottom: 6px;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.05em;
}
.stats__plus {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.38;
  vertical-align: super;
  color: $accent-color;
}

.stats__textbox {
  flex-basis: 500px;
}
.stats__number-descr {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
}
.stats__descr {
  color: $paragraph-color;
}
