.header__contacts {

@media screen and (min-width:$tablet) {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
  justify-items: flex-end;
  gap: 20px;
}

@media screen and (min-width:$desktop) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}
}

.header__contacts-tel {
  @extend %link;
  display: block;
  font-size: 18px;
  line-height: 1.39;
  text-transform: uppercase;
  color: $primary-color;
  margin-bottom: 24px;
  transition: color 250ms ease;

@media screen and (min-width:$tablet) {
    color: $light-text-color;
    font-size: 12px;
    line-height: 1.33;
    margin-bottom: 0;
  }
}

.header__contacts-btn {
  @extend %btn-light;
  min-width: 194px;
  transition: background-color 250ms $cubic,
              transform 250ms $cubic;

  @media screen and (min-width:$tablet) {
  color: $light-text-color;
  min-width: 160px;
  }
}