body {
  font-family: $primary-font;
  font-size: 18px;
  color: $primary-color;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 448px;
    }
  }

@media screen and (min-width: 768px) {
  .container {
    width: 720px;
    }
  }

@media screen and (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.section {
  max-width: 1600px;
  margin: 0 auto;
  padding: 84px 0;
}

@media screen and (min-width: $tablet) {
  .section {
    padding: 100px 0;
  }
}
@media screen and (min-width: $desktop) {
  .section {
    padding: 120px 0;
  }
}
