
  $primary-color: #303030;
  $secondary-color: #9da4bd;
  $paragraph-color: #555555;
  $light-text-color: #ffffff;
  $heading-color: rgba(157, 164, 189, 0.6);
  $accent-color: #ff6c00;

  $dark-bg-color: #191C26;
  $secondary-bg-color: #F7F7F7;

  $primary-font: 'Open Sans', sans-serif;
  $secondary-font: 'Raleway', sans-serif;

  $border-radius: 25px;